@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
}

html{
  line-height: 1.5rem;
}


#main-layout {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  grid-template-columns: auto 1fr;
}

#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background: green;
  border-right: 1px solid var(--line-clr);
  
}

#sidebar ul{
  list-style: none;
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(var(--scroll-length));
  }
}

/* .banner-wrapper {
  padding: 2rem 0rem;
} */

.banner-wrapper .wrapper .images {
  display: flex;
  --scroll-length: var(--scroll);
  animation: swipe var(--speed) linear infinite;
  animation-delay: var(--offset);
}



.banner-wrapper:hover .wrapper .images {
  animation-play-state: paused;
}

.banner-wrapper:hover .wrapper .images .album {
  animation-play-state: paused;
}

.banner-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.banner-wrapper .wrapper {
  display: flex;
}

.musicPage {
  display: grid;
  grid-template-rows: auto 1fr;
  text-align: center;
  background-image: url("/textures/airport_floor2.png");
}

@keyframes bgScroll {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -2000% 0%; 
  }
}

.album {
  min-width: var(--album-size);
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
  background-image: url("/textures/conveyor3.jpg");
  background-size: cover;
  animation: bgScroll 200s linear infinite;
}

.blurb {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: yellow;
}

.record {
  position: absolute;
  width: 90%;
  height: 100%;
  alignment-baseline: central;
  overflow: hidden;
  z-index: 1;
}

.recordHolder {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(-100%) translateX(5%);
}

.album:hover > .recordHolder {
  display: block;
  
}

.album:hover > .recordHolder > .record {
  display: block;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {

  }
  to {
   transform: rotate(360deg);
  }
}

.album:hover > .thumbnail {
  filter: blur(3px) brightness(0.5);
 
}

.description {
  display: none;
}

.description > h1 {
  padding: 0.5rem;
}

.thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  z-index: 2;
}

.album-cover {
  transform: translateY(-100%) translateX(-0.5rem) rotate(180deg);
}

.album:hover > .description {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.5rem;
  color: white;
  z-index: 3;
}

.center-vertically {
  display: flex;
  align-items: center;
}