@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  margin: 0;
  padding: 0;
}

html{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5rem;
}


#main-layout {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base-clr);
  color: var(--text-clr);
  display: flex;
  grid-template-columns: auto 1fr;
}

#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  /* background-color: var(--base-clr); */
  background: green;
  border-right: 1px solid var(--line-clr);
  
}

#sidebar ul{
  list-style: none;
}


.banner-wrapper .wrapper .images {
  display: flex;
  /* animation: swipe var(--speed) linear infinite; */
  animation-delay: var(--offset);
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-780%);
  }
}

.banner-wrapper:hover .wrapper .images {
  animation-play-state: paused;
}

.banner-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.banner-wrapper .wrapper {
  display: flex;
}

.musicPage {
  display: grid;
  grid-template-rows: auto 1fr;
  text-align: center;
  background: chocolate;
}

svg {
  position: absolute;
  height: 100%;
  alignment-baseline: central;
  overflow: hidden;
}

.album {
  min-width: 20%;
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
  
}

.record {
  position: absolute;
  height: 100%;
  alignment-baseline: central;
  overflow: hidden;
  /* animation: record-appear 1250ms ease reverse; */
}

.album:hover > .record {
  display: block;
  animation: record-appear 650ms ease both;
}

@keyframes record-appear {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360);
  }
}

.album:hover > .thumbnail {
  filter: blur(3px) brightness(0.5);
}

.description {
  display: none;
}

.description > h1 {
  padding: 0.5rem;
}

.thumbnail {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  /* clip-path: path("M100% 0%h-34.693% a16.875% 16.875% 0% 0% 6.25% -2.768% 6.51% C60.081% 9.925% 56.018% 12.5% 50% 12.5% s-1.613% -2.565% -12.537% -5.9875% A16.875% 16.875% 0% 0% 6.25% 34.69% 0%"); */
  object-fit: cover;
  /* clip-path: path("M16 0h-5.551 a2.7 2.7 0 0 1-.443 1.042 C9.613 1.588 8.963 2 8 2 s-1.613-.412-2.006-.958 A2.7 2.7 0 0 1 5.551 0 H0v16H16Z"); */
}

.album-cover {
  transform: translateY(-100%) translateX(-0.5rem) rotate(180deg);
}

.album:hover > .description {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.5rem;
  color: white;
}

