@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  margin: 0;
  padding: 0;
}

html{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5rem;
}


#main-layout {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base-clr);
  color: var(--text-clr);
  display: flex;
  grid-template-columns: auto 1fr;
}

#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  /* background-color: var(--base-clr); */
  background: green;
  border-right: 1px solid var(--line-clr);
  
}

#sidebar ul{
  list-style: none;
}


.banner-wrapper .wrapper .images {
  display: flex;
  animation: swipe var(--speed) linear infinite;
  animation-delay: var(--offset);
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-780%);
  }
}

.banner-wrapper:hover .wrapper .images {
  animation-play-state: paused;
}

.banner-wrapper:hover .wrapper .images .album {
  animation-play-state: paused;
}

.banner-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.banner-wrapper .wrapper {
  display: flex;
}

.musicPage {
  display: grid;
  grid-template-rows: auto 1fr;
  text-align: center;
  background: chocolate;
}

svg {
  position: absolute;
  height: 100%;
  alignment-baseline: central;
  overflow: hidden;
}

.album {
  min-width: 20%;
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
  background-color: var(--random-background-color);
  background-image: url("/conveyor.jpg");
  background-size: cover;
  animation: bgScroll 60000ms linear infinite;
}

@keyframes bgScroll {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -780% 0%; 
  }
}


.record {
  position: absolute;
  width: 90%;
  height: 100%;
  alignment-baseline: central;
  overflow: hidden;
  z-index: 1;
}

.recordHolder {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(-100%) translateX(5%);
}

.album:hover > .recordHolder {
  display: block;
  
}

.album:hover > .recordHolder > .record {
  display: block;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {

  }
  to {
   transform: rotate(360deg);
  }
}

.album:hover > .thumbnail {
  filter: blur(3px) brightness(0.5);
 
}

.description {
  display: none;
}

.description > h1 {
  padding: 0.5rem;
}

.thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  z-index: 2;
}

.album-cover {
  transform: translateY(-100%) translateX(-0.5rem) rotate(180deg);
}

.album:hover > .description {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.5rem;
  color: green;
  z-index: 3;
}

